.commitment {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}
.commitment img {
    width: 100%;
    border-radius: 10px;
}
.commitment h2 {
    font-size: 40px;
    color: #333D4B;
}
.commitment p {
    width: 450px;
    margin-top: 32px;
    font-size: 16px;
    color: #333D4B;
}