.header_of_about {
    width: 98%;
    height: 450px;
    background-image: url('../../public/images/Object.png');
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 10px;
}
.header_of_about .text_part {
    width: 493px;
    padding-top: 140px;
    margin-left: 100px;
    color: white;
}
.header_of_about .text_part h1 {
    font-size: 40px;
}
.header_of_about .text_part p {
    font-size: 16px;
    margin-top: 32px;
}
